:root {
    --primary-color: #5a3e2b; /* Marrón cálido */
    --secondary-color: #f3e8d1; /* Beige claro */
    --accent-color: #4a7c59; /* Verde suave */
    --border-radius: 8px;
    --padding: 10px;
    --margin: 10px;
    --input-width: 60%;
    --button-width: 30%;
    --form-width: 320px;
    --form-height: 420px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header {
    margin-bottom: 20px;
}

nav {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav h1, nav a {
    margin: 10px;
}

nav h1 {
    font-size: 32px;
    color: var(--secondary-color);
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-color);
    font-weight: bold;
    padding: 10px 30px;
    transition: background-color 0.3s ease;
}

nav a:hover {
    background-color: var(--primary-color);
    color: white;
}

main {
    flex: 1; /* Esto asegura que main ocupe el espacio disponible */
    padding: 20px;
}

section {
    background-color: white;
    border-radius: var(--border-radius);
    padding: var(--padding);
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--primary-color);
    font-size: 24px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    line-height: 1.6;
}

footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
    font-size: 14px;
}
